.partners {
  margin-top: -64px;
  padding-top: 64px;

  .partners__content {
    margin-top: 50px;
  }

  .partners__items {
    margin-top: 40px;

    img {
      width: 300px;
      height: auto;

      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}